
body {
 background-color:darkcyan;
}

#buttons {
  padding: 70px 0;
  text-align: center;
}
#app {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 font-family:Arial, Helvetica, sans-serif;
 color:goldenrod;
}

.pet-card {
  margin: 10px;
  border: solid 4px cadetblue; 
  text-align: center;
}
