
body {
 background-color:darkcyan !important;
}

#buttons {
  display: flex;
  text-align: center;
  justify-content:center;
}
#app {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 font-family:Arial, Helvetica, sans-serif;
 color: beige;
}
.name{
  background-color: cornsilk;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.pet-card {
  margin: 10px;
  border: solid 4px cadetblue; 
  text-align: center;
}

#addPet {
  text-align: center;
}
